body {
	font-family: 'Times';
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid black;
	}

.label {
	font-size: 8pt;
	font-weight: bold;
	background-color: red;
	color: white;
	text-align: center;
	padding:2px 2px 2px 2px;
	margin-top: 10px;	
	}

.name {
	font-size: 200pt;
	font-weight: bold;
	text-align: center;
	padding: 0 0 0 0;
	margin-top: 200px;
	margin-bottom: 0;
	letter-spacing: -19px;
	font-family: 'Verdana';
	}

.title {
	font-size: 30pt;
	margin:-65px 0 -20px 0;
	width: 700px;
	position: center;
	text-align: center;
	font-weight: lighter;
	color: darkgray;
	}

.mayor {
	color:black;
	}

.author {
	position: center;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	color: darkgray;
	}

.main{
	column-count: 3;
	column-gap: 30px;
	text-align: justify;
	margin-top: 90px;  
	padding: 0 10px 0 10px;    
	}

hr {
    position: relative;
    margin: 8px auto;
    width: 980px;
    font-size: 1px;
    border: none;
    border: solid 1px black;
    }

footer {
	display: inline-block;
	width: 980px;
	margin-top: -10px;
	margin-bottom: -5px;
	
	}

.publisher {
	text-align: left;
	float:left;	
}

.date {
	
	text-align: right;
	float: right;
	}
